.imgMapa {
    position: relative;
    display: inline-block;
}

.indicadores {
    margin-top: 10px; /* Espacio entre el mapa y los cuadrados */
    display: flex;
    align-items: center; /* Alinea verticalmente */
}

.cuadrado {
    width: 20px; /* Tamaño del cuadrado */
    height: 20px; /* Tamaño del cuadrado */
    margin-right: 10px; /* Espacio entre el cuadrado y el texto */
}
