*{
    padding: 0%;
    margin: 0%;
    background-color: beige;
}

.tittleIndex{
    justify-content: center;
    align-content: center;
    align-items: center;
    /* margin-left: 25%; */
    padding: auto;
}