*{
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
    
}
.titulos{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #b0e9f5;
}
.textInfo{
    padding: 15px 10% 15px 10%;
    display: flex;
    justify-content: center;
}

.imgMapa{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.imgNew{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    height: auto; 
    max-width: 100%;
    max-height: 500px; 
}

.btncontent{
    display: flex;
    justify-content: center;
}

.btnDep {
    text-decoration: none;
    background-color: #b0e9f5;
    color: #ebfafd;
    padding: 10px 20px;
    border: 2px solid #b0e9f5;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
}

.btnDep:hover {
    background-color: #ebfafd;
    color: #b0e9f5;
    border-color: #ebfafd;
}
