<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Boyacá</title>
</head>

<body>
    <div class="content">
        <div class="titulos">
            <h1>Boyacá</h1>
        </div>
        <div class="imgNew">
            <img class="imgMapa" src="../images/shape-of-boyac-department-of-colombia-with-its-capital-isolated-on-white-background-bilevel-elevation-map-3d-rendering-2CB5D0M.png" alt="imagen Boyacá">
        </div>
        <div class="textInfo">
            <h2>5 Cosas que Debes Conocer sobre Boyacá</h2>
            <ol>
                <li><strong>Descripción Breve:</strong> Boyacá es un departamento ubicado en el centro de Colombia, conocido por su rica historia, su variada geografía y su papel clave en la independencia del país. Su capital es Tunja, una de las ciudades más antiguas de Colombia.</li>
                <li><strong>Patrimonio Histórico:</strong> Boyacá fue el escenario de importantes batallas durante la Guerra de Independencia, como la Batalla de Boyacá en 1819, que fue decisiva para la libertad de Colombia del dominio español. Este evento es conmemorado cada 7 de agosto.</li>
                <li><strong>Cultura y Tradiciones:</strong> La cultura boyacense es rica en tradiciones, incluyendo la música andina, danzas folclóricas y festividades como la Fiesta de la Independencia y el Festival del Tiple.</li>
                <li><strong>Naturaleza y Paisajes:</strong> El departamento cuenta con una diversidad de paisajes que van desde montañas y páramos hasta valles y ríos, siendo el Parque Natural Chivor uno de sus principales atractivos naturales.</li>
                <li><strong>Economía:</strong> Boyacá es conocido por su agricultura y ganadería, así como por la minería, siendo la extracción de esmeraldas uno de sus recursos más valiosos. La producción de artesanías, especialmente en lugares como Ráquira, también es significativa.</li>
            </ol>
        </div>
    </div>
    <div class="btncontent">
        <a class="btnDep" href="../index.html">Regresar</a>
    </div>
</body>

</html>
