<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Boyacá</title>
</head>

<body>
    <div class="content">
        <div class="titulos">
            <h1>Boyacá</h1>
        </div>
        <div class="imgNew">
            <img class="imgMapa"
                src="../images/shape-of-boyac-department-of-colombia-with-its-capital-isolated-on-white-background-bilevel-elevation-map-3d-rendering-2CB5D0M.png"
                alt="imagen Boyacá">
        </div>
        <div class="textInfo">
            <h2>5 Cosas que Debes Conocer sobre Boyacá</h2>
            
            <section>
                <h3>Descripción Breve</h3>
                <p>Boyacá es un departamento ubicado en el centro de Colombia, conocido por su rica historia, variada geografía y su papel clave en la independencia del país. Su capital es Tunja, una de las ciudades más antiguas de Colombia, con un legado cultural y arquitectónico que destaca en la región.</p>
            </section>
            
            <section>
                <h3>Patrimonio Histórico</h3>
                <p>Boyacá fue el escenario de importantes eventos históricos durante la Guerra de Independencia. La Batalla de Boyacá, librada en 1819, fue decisiva para la libertad de Colombia del dominio español. Este evento trascendental es conmemorado cada año el 7 de agosto como un símbolo de la resistencia y libertad del país.</p>
            </section>
            
            <section>
                <h3>Cultura y Tradiciones</h3>
                <p>La cultura boyacense es rica en manifestaciones tradicionales, como la música andina y las danzas folclóricas. Entre las festividades más importantes se encuentran la Fiesta de la Independencia y el Festival del Tiple, que celebran el patrimonio cultural y musical del departamento.</p>
            </section>
            
            <section>
                <h3>Naturaleza y Paisajes</h3>
                <p>Boyacá cuenta con una impresionante diversidad de paisajes, desde montañas y páramos hasta valles fértiles y ríos. El Parque Natural Chivor, con su belleza escénica, es uno de los principales atractivos naturales de la región, atrayendo tanto a turistas como a amantes de la naturaleza.</p>
            </section>
            
            <section>
                <h3>Economía</h3>
                <p>La economía de Boyacá está basada en la agricultura, la ganadería y la minería. Es conocido por la extracción de esmeraldas, que es uno de sus recursos más valiosos. Además, la producción de artesanías, especialmente en municipios como Ráquira, es una parte significativa de su economía.</p>
            </section>
        </div>
        
        <div class="btncontent">
            <a class="btnDep" href="../index.html">Regresar</a>
        </div>
    </div>

</body>

</html>