<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Caqueta</title>
</head>

<body>

    <div class="content">
        <div class="titulos">
            <h1>Caquetá</h1>
        </div>
        <div class="imgNew">
            <img src="../images/caquetazzz.png" alt="Imagen del departamento de Caquetá">
        </div>
        <div class="textInfo">
            <h2>Aspectos Claves sobre Caquetá</h2>

            <section>
                <h3>Ubicación y Geografía</h3>
                <p>Caquetá se encuentra en la región amazónica de Colombia, al sur del país. Limita al norte con los
                    departamentos de Meta y Huila, al este con Guaviare, y al sur con Amazonas. Es una región rica en
                    biodiversidad y cuenta con una extensa cobertura forestal que forma parte de la selva amazónica. Su
                    capital es Florencia, que actúa como el principal núcleo urbano y centro económico del departamento.
                </p>
            </section>

            <section>
                <h3>Riqueza Natural</h3>
                <p>Caquetá es hogar de una impresionante diversidad de flora y fauna. La región es conocida por sus ríos
                    caudalosos, selvas densas y paisajes vírgenes que forman parte del ecosistema amazónico. Los ríos
                    Caquetá y Orteguaza son de gran importancia para la economía y la vida diaria de sus habitantes,
                    facilitando la navegación y siendo fuentes de pesca.</p>
            </section>

            <section>
                <h3>Cultura y Población</h3>
                <p>La población de Caquetá está compuesta por una mezcla de comunidades indígenas, campesinos y colonos.
                    Las comunidades indígenas juegan un papel importante en la conservación de las costumbres y el
                    conocimiento de los recursos naturales de la región. Además, las fiestas locales, como el Festival
                    Folclórico del Piedemonte Amazónico, son ejemplos de la riqueza cultural del departamento.</p>
            </section>

            <section>
                <h3>Economía y Agricultura</h3>
                <p>La economía de Caquetá se basa principalmente en la ganadería, la agricultura y la explotación de
                    recursos forestales. Los cultivos más comunes son el plátano, la yuca, el cacao y el café, productos
                    que sostienen a gran parte de la población rural. En las últimas décadas, el departamento también ha
                    sido un área clave para iniciativas de reforestación y desarrollo sostenible.</p>
            </section>

            <section>
                <h3>Retos y Oportunidades</h3>
                <p>Caquetá ha enfrentado desafíos debido a su historia de conflicto armado y su ubicación geográfica
                    aislada. Sin embargo, en los últimos años, ha habido un creciente interés en desarrollar proyectos
                    de ecoturismo, aprovechando su biodiversidad única. El departamento ofrece grandes oportunidades
                    para aquellos que deseen explorar la selva amazónica y participar en proyectos de conservación
                    ambiental.</p>
            </section>
        </div>
        <div class="btncontent">
            <a class="btnDep" href="../index.html">Regresar</a>
        </div>
    </div>
    


</body>

</html>