<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Magdalena</title>
</head>

<body>
    <div class="content">
        <div class="titulos">
            <h1>Magdalena</h1>
        </div>
        <div class="imgNew">
            <img class="imgMapa"
                src="../images/magdalenazzz.jpeg"
                alt="imagen Magdalena">
        </div>
        <div class="textInfo">
            <h2>5 Cosas que Debes Conocer sobre Magdalena</h2>
            
            <section>
                <h3>Descripción Breve</h3>
                <p>Magdalena es un departamento ubicado en la región Caribe de Colombia, con una gran riqueza cultural, histórica y natural. Su capital es Santa Marta, la ciudad más antigua de Colombia y un destino turístico importante gracias a sus playas, montañas y su proximidad a la Sierra Nevada.</p>
            </section>
            
            <section>
                <h3>Patrimonio Histórico</h3>
                <p>Santa Marta, la capital de Magdalena, fue fundada en 1525 y es el lugar donde murió el libertador Simón Bolívar en la Quinta de San Pedro Alejandrino. El departamento tiene un legado histórico estrechamente vinculado a la colonia y la independencia de Colombia.</p>
            </section>
            
            <section>
                <h3>Cultura y Tradiciones</h3>
                <p>La cultura magdalenense es rica en manifestaciones folclóricas como la cumbia y el vallenato. La Fiesta del Mar en Santa Marta y el Festival Nacional del Caimán Cienaguero en Ciénaga son eventos tradicionales que muestran la vitalidad cultural del departamento.</p>
            </section>
            
            <section>
                <h3>Naturaleza y Paisajes</h3>
                <p>Magdalena es conocido por su diversidad natural. La Sierra Nevada de Santa Marta, el parque Tayrona, y sus paradisíacas playas son algunos de los paisajes más impresionantes de Colombia. Este departamento es ideal para el ecoturismo y las actividades al aire libre.</p>
            </section>
            
            <section>
                <h3>Economía</h3>
                <p>La economía de Magdalena se basa en el turismo, la agricultura y la pesca. Santa Marta es un puerto importante para la exportación de banano, productos agrícolas y pesqueros. Además, el turismo es una fuente clave de ingresos, gracias a sus atractivos naturales.</p>
            </section>
        </div>
        
        <div class="btncontent">
            <a class="btnDep" href="../index.html">Regresar</a>
        </div>
    </div>

</body>

</html>
