<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Magdalena</title>
</head>

<body>
    <div class="titulos">
        <h1>Magdalena</h1>
    </div>
    <div class="content">
        <div class="imgNew"> 
            <img src="../images/magdalenazzz.jpeg" alt="imagen magdalena">
        </div>
        <div class="textInfo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur exercitationem natus provident atque architecto assumenda consequatur adipisci suscipit perspiciatis, excepturi recusandae nihil sed corporis aliquam porro totam, eos, maxime cumque!
            Nemo dolores, cumque, officia minima corporis incidunt blanditiis debitis a harum quam veritatis maiores, assumenda impedit dolorum tempora totam nisi accusamus magnam unde? Reiciendis ullam eum iure est, ab velit.
            Fugiat earum tenetur debitis quod impedit possimus et cupiditate sequi voluptate delectus, quam nulla? Ex aperiam vitae accusantium explicabo repellat nemo voluptatem reiciendis, inventore quia possimus impedit corporis magnam. Odio.
                quos!</p>
        </div>
    </div>
    <div class="btncontent">
        <a class="btnDep" href="../index.html">Regresar</a>
    </div>

</body>

</html>