<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Vichada</title>
</head>

<body>
    <div class="titulos">
        <h1>Vichada</h1>
    </div>
    <div class="content">
        <div class="imgMapa"> 
            <img src="../images/vichadazzz.png" alt="imagen Vichada">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit saepe labore maiores consectetur, non amet
            nisi
            nihil dolorem soluta asperiores, voluptatum eaque, dolore ipsa. Provident accusamus sapiente voluptate optio
            quos!</p>
    </div>
    <div class="btncontent">
        <a class="btnDep" href="../index.html">Regresar</a>
    </div>
</body>

</html>